@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;padding: 0;
}
body{
  background-color: rgb(9, 0, 24);
  color: white;
  overflow: hidden;
  font-family:Verdana;
}

.user_register>input{
  background-color: rgb(208, 221, 252);
  color: rgb(52, 52, 52);
  box-shadow: 0 0 5px black;
  
}

.btn{
  background-color: rgb(43, 117, 255);
}